*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* Definizione BOTTONI */
.GetHubspotFree, .LearnMore{
    padding: 20px;
    background-color: #fe775a;
    border: none;
    border-radius: 5px;
    color: #fffefe;
}

.GetHubspotFreeHeader{
    padding: 10px;
    background-color: #fe775a;
    border: none;
    border-radius: 5px;
    color: #fffefe;
}

.login{
    padding: 10px;
    background-color: white;
    border: 1px solid #fe775a;
    border-radius: 5px;
    color: #fe775a
}

.ContactHubSpotSupport{
    padding: 10px;
    background-color: #dadee0;
    border: none;
    border-radius: 5px;
    color: #3d5364;
}
/* FINE definizione BOTTONI */

.bg-gray{
    background-color: #f4f9fd;
}

.bg-white{
    background-color: white;
}

.bg-pink{
    background-color: #fff4ef;
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

#fixed{
    height: 80px;
    background-color: #f4f9fd;
}

.gray-band a{
    text-decoration: none;
    color: #3e5465;
}

.lingua{
    color: #3e5465;
}

.lingua i{
    margin-right: 10px;
}

.contact span{
    margin-right: 10px:
}

.lingua, span, .contact{
    float: left;
    line-height: 80px;
}

.search, .buttons{
    float: right;
    line-height: 80px;
    margin-left: 10px;
}


.header-top{
    height: 80px;
    /* background-color: blue; */
    line-height: 40px;
    padding: 20px 0;
}

.logo img{
    height: 30px;
    float: left;
}

.menu ul{
    float: right;
}
.menu ul li{
    display: inline-block;
    margin-left: 15px;
}

.menu i{
    margin-left: 5px;
}

.header-bottom{
    height: 400px;
}

.jumbotron{
    width:50%;
    height: 100%;
    /* background-color: orange; */
    padding: 50px 0;
}

.jumbotron h1{
    font-size: 50px;
    color: #33475b;
}

.jumbotron h3{
    font-weight: 500;
    color: #33475b;
    margin: 20px 0;
}

.jumbotron h5{
    font-weight: 500;
    color: #33475b;
    margin: 20px 0;
}

.bg-green{
    background-color: #afebe4;
}

.green-band{
    height: 50px;
}

.sezione{
    height: 300px;
    /* background-color: red; */
}

.banner{
    height: 60%;
    background-image: url(https://www.hubspot.com/hubfs/assets/hubspot.com/home/2018/Integrations_Illustration@2x.png);
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
}

.sottotitolo{
    text-align: center;
    color: #33475b;
}

.sottotitolo h4{
    text-align: center;
    width: 60%;
    margin: 0 auto;
    font-size: 14px;
}

.box{
    height: 250px;
    background-color: white;
    border-radius: 10px;
}

.immagine1{
    width: 30%;
    height: 100%;
    /* background-color: red; */
    text-align: center;
    padding: 30px;
    float: left;
}

.immagine1 img{
    height: 120px;
}

.CRM{
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    padding: 50px;
    text-align: left;
    color: #33475b;
}

.CRM div{
    margin: 15px;
}

.CRM h3{
    display: inline-block;
}

.CRM hr{
    display: inline-block;
    margin: 5px 50px;
    width: 40%;
}

.CRM i{
    margin: 5px 20px;
}


.card{
    height: 500px;
    width: 32%;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
    padding: 50px;
    text-align: center;
    color: #33475b;
    border-radius: 10px;
}

.card:nth-child(2n){
    margin: 30px 2% 0 2%;
}

.card img{
    height: 100px;
}

.card h2{
    font-size: 18px;
}

.card h3{
    font-size: 14px;
}

.card p{
    font-size: 12px;
}

.card h2, .card p, .card h3, .card hr{
    margin: 20px;
}

.flags{
    text-align: left;
    margin-bottom: 10px;
}

.bg-aqua{
    background: rgb(0,172,182);
    background: linear-gradient(90deg, rgba(0,172,182,1) 0%, rgba(0,188,165,1) 99%);
}

.statistiche{
    height: 600px;
    color: #ffffff;
    text-align: center;
    padding: 50px;
}


.statistiche h2{
    font-size: 30px;
    /* margin: 20px 0; */
}

.statistiche h4{
    font-size: 12px;
    font-weight: 100px;
}

.tabella{
    margin-top: 50px;
    width: 100%;
    height: 300px;
    /* background-color: red; */
}

.tabella .top, .tabella .bottom{
    width: 100%;
    height: 50%;
    /* background-color: green; */
    text-align: center;
}

.top .quadrato, .bottom .quadrato{
    width: 25%;
    height: 100%;
    /* background-color: yellow; */
    /* border: 1px solid black; */
    float: left;
    padding: 30px;
}

.top .quadrato{
    border-bottom: 1px solid white;
}

.top .quadrato h2, .bottom .quadrato h2{
    position: relative;
    font-size: 48px;
}

.plus::after{
    content: "+";
    display: inline-block;
    position: absolute;
    top: 30%;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.main-bottom{
    height: 700px;
}

.customers{
    height: 30%;
    width: 100%;
    /* background-color: red; */
    margin: 0 auto;
}

.customer-n{
    width: 30%;
    height: 100%;
    /* background-color: green; */
    padding: 20px;
    float: left;
}

.customer-n h2{
    color: #33475b;
    font-size: 32px;
    margin-left: 40px;
}

.customer-n p{
    color:#33475b;
    margin-left: 40px;
}

.customer-logo-section{
    width: 70%;
    height: 100%;
    float: left;
    padding: 20px 40px;
}

.customer-logo{
    display: inline-block;
    margin: 20px 30px;
}
.customer-logo img{
    width: 100px;
    height: 15px;
}

.main-bottom-sezione2{
    height: 70%;
    width: 100%;
    /* background-color: red; */
}

/* DEFINIZIONE FOOTER */

.sezione2-left{
    width: 40%;
    height: 100%;
    /* background-color: green; */
    float: left;
    padding: 30px 0;
    color: #33475b;
}

.sezione2-left h2{
    font-size: 30px;
    margin: 20px 0;
}

.sezione2-left p{
    margin: 20px 0;
}

.sezione2-right{
    width: 60%;
    height: 100%;
    /* background-color: blue; */
    float: left;
    text-align: right;
}

.sezione2-right div img{
    width: 350px;
    height: 430px;
}

.bg-darkblue{
    background-color: #32495b;
}

.footer-sections{
    height: 500px;
}

.footer-menu{
    height: 60%;
    width: 100%;
    /* background-color: blue; */
    padding: 20px 0;
}

.footer-menu h3{
    color: white;
}

.footer-menu ul li{
    list-style-type: none;
    color: #f0f2f3;
}

.column1, .column2, .column3, .column4{
    float: left;
}

.column2, .column3{
    margin: 0 60px;
}

.column4 i{
    color: #f0f2f3;
    margin: 0 5px;
}

.footer-menu ul li, button, .socials{
    margin: 10px 0;
}

.footer-bottom{
    height: 40%;
    width: 100%;
    /* background-color: red; */
}

.sez1{
    width: 100%;
    height: 50%;
    /* background-color: yellow; */
    position: relative;
}

.languages{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}


.languages span{
    margin-left: 20px;
    color: #f0f2f3;
}

.credits{
    width: 100%;
    height: 50%;
    /* background-color: green; */
    padding: 30px 0;
}

.footer-logo{
    float: left;
}

.footer-logo img{
    width: 100px;
}

.footer-logo p{
    font-size: 12px;
    color: #f0f2f3;
}

.legal-stuff{
    float: right;
}

.legal-stuff p{
    display: inline-block;
}

.legal-stuff a{
    text-decoration: none;
    color:#f0f2f3;
}
