*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.bg-gray{
    background-color: #f4f9fd;
}

.bg-white{
    background-color: white;
}

.bg-pink{
    background-color: #fff4ef;
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

#fixed{
    height: 80px;
    background-color: #f4f9fd;
}

.gray-band a{
    text-decoration: none;
    color: #3e5465;
}

.lingua, span, .contact{
    float: left;
    line-height: 80px;
}

.search, .buttons{
    float: right;
    line-height: 80px;
}


.header-top{
    height: 80px;
    /* background-color: blue; */
    line-height: 40px;
    padding: 20px 0;
}

.logo img{
    height: 30px;
    float: left;
}

.menu ul{
    float: right;
}
.menu ul li{
    display: inline-block;
}

.header-bottom{
    height: 400px;
}

.jumbotron{
    width:50%;
    height: 100%;
    /* background-color: orange; */
    padding: 50px 0;
}

.jumbotron h1{
    font-size: 50px;
    color: #33475b;
}

.jumbotron h3{
    font-weight: 500;
    color: #33475b;
    margin: 20px 0;
}

.jumbotron h5{
    font-weight: 500;
    color: #33475b;
    margin: 20px 0;
}

.bg-green{
    background-color: #afebe4;
}

.green-band{
    height: 50px;
}

.sezione{
    height: 300px;
    /* background-color: red; */
}

.banner{
    height: 60%;
    background-image: url(https://www.hubspot.com/hubfs/assets/hubspot.com/home/2018/Integrations_Illustration@2x.png);
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
}

.sottotitolo{
    text-align: center;
    color: #33475b;
}

.sottotitolo h4{
    text-align: center;
    width: 60%;
    margin: 0 auto;
    font-size: 14px;
}

.box{
    height: 250px;
    background-color: white;
    border-radius: 10px;
}

.immagine1{
    width: 30%;
    height: 100%;
    /* background-color: red; */
    text-align: center;
    padding: 30px;
    float: left;
}

.immagine1 img{
    height: 120px;
}

.CRM{
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    padding: 50px;
    text-align: left;
    color: #33475b;
}

.CRM div{
    margin: 15px;
}

.CRM h3{
    display: inline-block;
}

.CRM hr{
    display: inline-block;
    margin: 5px 50px;
    width: 40%;
}

.CRM i{
    margin: 5px 20px;
}


.card{
    height: 500px;
    width: 32%;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
    padding: 50px;
    text-align: center;
    color: #33475b;
    border-radius: 10px;
}

.card:nth-child(2n){
    margin: 30px 2% 0 2%;
}

.card img{
    height: 100px;
}

.card h2{
    font-size: 18px;
}

.card h3{
    font-size: 14px;
}

.card p{
    font-size: 12px;
}

.card h2, .card p, .card h3, .card hr{
    margin: 20px;
}

.flags{
    text-align: left;
    margin-bottom: 10px;
}

.bg-aqua{
    background: rgb(0,172,182);
    background: linear-gradient(90deg, rgba(0,172,182,1) 0%, rgba(0,188,165,1) 99%);
}

.statistiche{
    height: 600px;
    color: #ffffff;
    text-align: center;
    padding: 50px;
}


.statistiche h2{
    font-size: 30px;
    /* margin: 20px 0; */
}

.statistiche h4{
    font-size: 12px;
    font-weight: 100px;
}

.tabella{
    margin-top: 50px;
    width: 100%;
    height: 300px;
    /* background-color: red; */
}

.tabella .top, .tabella .bottom{
    width: 100%;
    height: 50%;
    /* background-color: green; */
    text-align: center;
}

.top .quadrato, .bottom .quadrato{
    width: 25%;
    height: 100%;
    /* background-color: yellow; */
    /* border: 1px solid black; */
    float: left;
    padding: 30px;
}

.top .quadrato{
    border-bottom: 1px solid white;
}

.top .quadrato h2, .bottom .quadrato h2{
    position: relative;
    font-size: 48px;
}

.plus::after{
    content: "+";
    display: inline-block;
    position: absolute;
    top: 30%;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.main-bottom{
    height: 500px;
}

.bg-darkblue{
    background-color: #32495b;
}

.footer-top, .footer-bottom{
    height: 250px;
}
